## Importação das Bibiliotecas

In [4]:
from pyspark.sql import SparkSession
# Crie um SparkSession
spark = SparkSession.builder.appName("LerDadosEnem").getOrCreate()

In [5]:
import pandas as pd
from sqlalchemy import create_engine
import pymssql

## Processo de Leitura do CSV de Provas

In [6]:
arqEnem = 'E:\Estudos\SQL\Datasets\microdados_enem_2022\DADOS\MICRODADOS_ENEM_2022.csv'

dfDadosGerais = spark.read.csv(arqEnem, sep=';', header=True, inferSchema=True, encoding='ISO-8859-1')

In [7]:
dfParticipantes = dfDadosGerais.select(dfDadosGerais.columns[:12])

In [8]:
dfParticipantes.show()

+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+
|NU_INSCRICAO|NU_ANO|TP_FAIXA_ETARIA|TP_SEXO|TP_ESTADO_CIVIL|TP_COR_RACA|TP_NACIONALIDADE|TP_ST_CONCLUSAO|TP_ANO_CONCLUIU|TP_ESCOLA|TP_ENSINO|IN_TREINEIRO|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+
|210057943671|  2022|             14|      M|              2|          2|               1|              1|              2|        1|     null|           0|
|210057516120|  2022|             14|      M|              2|          1|               1|              1|             16|        1|     null|           0|
|210057280536|  2022|              5|      F|              1|          2|               1|              1|              2|        1|     null|           0|
|210055724397|  2022|              6|      M|              1|          3|               1|              1|              2|        1|     null|           0|
|210055097896|  2022|              4|      M|              0|          3|               1|              1|              1|        1|     null|           0|
|210057850231|  2022|              5|      F|              1|          3|               1|              1|              2|        1|     null|           0|
|210056305481|  2022|              4|      M|              1|          2|               1|              1|              2|        1|     null|           0|
|210055778089|  2022|              6|      F|              1|          2|               1|              1|              0|        1|     null|           0|
|210057252239|  2022|              8|      F|              1|          3|               1|              1|              0|        1|     null|           0|
|210055461467|  2022|              4|      F|              1|          3|               1|              1|              1|        1|     null|           0|
|210055665589|  2022|              4|      F|              1|          3|               1|              1|              2|        1|     null|           0|
|210054972570|  2022|              2|      F|              1|          1|               1|              2|              0|        3|        1|           0|
|210055449344|  2022|              4|      M|              1|          2|               1|              1|              1|        1|     null|           0|
|210057944037|  2022|              6|      F|              1|          3|               1|              1|              0|        1|     null|           0|
|210054861834|  2022|              7|      M|              1|          2|               2|              1|              3|        1|     null|           0|
|210055201589|  2022|              8|      F|              1|          3|               1|              2|              0|        2|        1|           0|
|210056844882|  2022|              5|      F|              1|          2|               1|              1|              0|        1|     null|           0|
|210056065100|  2022|              2|      F|              1|          3|               1|              3|              0|        1|     null|           1|
|210057551883|  2022|              8|      F|              1|          2|               1|              1|              5|        1|     null|           0|
|210054722657|  2022|              2|      F|              1|          1|               1|              3|              0|        1|     null|           1|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+
only showing top 20 rows

In [9]:
dfPreencher = dfParticipantes.fillna(-2)  # Preenche com -2(sem ref), por exemplo

In [11]:
dfDadosPd = dfPreencher.toPandas()

# Salvar em SQL 
Salvar os dados em uma tabela SQL

## Parametrizando a conexão do Banco SQL SERVER

In [12]:
server = 'NOTEBOOK-LEO\\SQLEXPRESS'
database = 'Enem'
username = 'bi_leonardobo'
password = '0000'

In [13]:
# Nome da nova tabela que será criada
nomeTabela = 'Participantes'

In [14]:
# Conexão de String utilizando a biblioteca pymssql
connection_string = f'mssql+pymssql://{username}:{password}@{server}/{database}'

In [16]:
engine = create_engine(connection_string)

In [18]:
dfDadosPd.to_sql(nomeTabela, con=engine, if_exists='replace', index=False)

3476105

In [19]:
print(f'Tabela {nomeTabela} criada com sucesso no banco de dados.')

Tabela Participantes criada com sucesso no banco de dados.