## Importação das Bibiliotecas

In [1]:
from pyspark.sql import SparkSession
import pandas as pd
from sqlalchemy import create_engine
import pyodbc

In [2]:
# Crie um SparkSession
spark = SparkSession.builder.appName("LerDadosEnem").getOrCreate()

## Processo de Leitura do CSV de Participantes

In [3]:
arqEnem = 'E:\Estudos\SQL\Datasets\microdados_enem_2022\DADOS\MICRODADOS_ENEM_2022.csv'

dfDadosGerais = spark.read.csv(arqEnem, sep=';', header=True, inferSchema=True, encoding='ISO-8859-1')

In [4]:
dfParticipantes = dfDadosGerais.select(dfDadosGerais.columns[:12])

In [5]:
dfPreencher = dfParticipantes.fillna(-2)  # Preenche com -2(sem ref), por exemplo

# Salvar em SQL 
Salvar os dados em uma tabela SQL

## Parametrizando a conexão do Banco SQL SERVER

In [6]:
server_name = "jdbc:sqlserver://NOTEBOOK-LEO:1433"
database_name = "Enem"
table_name = "Participantes"
username = "bi_leonardobo"
password = "0000"
url = server_name + ";" + "databaseName=" + database_name + ";"
print(url)

jdbc:sqlserver://NOTEBOOK-LEO:1433;databaseName=Enem;

In [7]:
# Nome da nova tabela que será criada
nomeTabela = 'Participantes'

In [8]:
#Conectando via jdbc
#No método option, foi necessário passar os argumentos ssl e trustservercertificate como true, por se tratar de um banco local sem SSL.
try:
  jdbcDF = spark.read \
        .format("jdbc") \
        .option("url", url) \
        .option("driver","com.microsoft.sqlserver.jdbc.SQLServerDriver")\
        .option("ssl", "true")\
        .option("trustServerCertificate", "true")\
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password).load()
  
  jdbcDF.show(40)
  print(jdbcDF.count())
except ValueError as error :
    print("Connector write failed", error)

+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+
|NU_INSCRICAO|NU_ANO|TP_FAIXA_ETARIA|TP_SEXO|TP_ESTADO_CIVIL|TP_COR_RACA|TP_NACIONALIDADE|TP_ST_CONCLUSAO|TP_ANO_CONCLUIU|TP_ESCOLA|TP_ENSINO|IN_TREINEIRO|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+
|210057943671|  2022|             14|      M|              2|          2|               1|              1|              2|        1|       -2|           0|
|210057516120|  2022|             14|      M|              2|          1|               1|              1|             16|        1|       -2|           0|
|210055432769|  2022|             10|      F|              1|          1|               1|              1|              8|        1|       -2|           0|
|210055590133|  2022|              3|      F|              1|          4|               1|              2|              0|        2|        1|           0|
|210057280536|  2022|              5|      F|              1|          2|               1|              1|              2|        1|       -2|           0|
|210055724397|  2022|              6|      M|              1|          3|               1|              1|              2|        1|       -2|           0|
|210055097896|  2022|              4|      M|              0|          3|               1|              1|              1|        1|       -2|           0|
|210057850231|  2022|              5|      F|              1|          3|               1|              1|              2|        1|       -2|           0|
|210056305481|  2022|              4|      M|              1|          2|               1|              1|              2|        1|       -2|           0|
|210055778089|  2022|              6|      F|              1|          2|               1|              1|              0|        1|       -2|           0|
|210057252239|  2022|              8|      F|              1|          3|               1|              1|              0|        1|       -2|           0|
|210055461467|  2022|              4|      F|              1|          3|               1|              1|              1|        1|       -2|           0|
|210055665589|  2022|              4|      F|              1|          3|               1|              1|              2|        1|       -2|           0|
|210054972570|  2022|              2|      F|              1|          1|               1|              2|              0|        3|        1|           0|
|210055449344|  2022|              4|      M|              1|          2|               1|              1|              1|        1|       -2|           0|
|210057944037|  2022|              6|      F|              1|          3|               1|              1|              0|        1|       -2|           0|
|210054861834|  2022|              7|      M|              1|          2|               2|              1|              3|        1|       -2|           0|
|210055201589|  2022|              8|      F|              1|          3|               1|              2|              0|        2|        1|           0|
|210056844882|  2022|              5|      F|              1|          2|               1|              1|              0|        1|       -2|           0|
|210056065100|  2022|              2|      F|              1|          3|               1|              3|              0|        1|       -2|           1|
|210057551883|  2022|              8|      F|              1|          2|               1|              1|              5|        1|       -2|           0|
|210054722657|  2022|              2|      F|              1|          1|               1|              3|              0|        1|       -2|           1|
|210055739197|  2022|              1|      F|              1|          3|               1|              3|              0|        1|       -2|           1|
|210056627737|  2022|              5|      F|              1|          3|               1|              1|              2|        1|       -2|           0|
|210056235859|  2022|              4|      F|              1|          1|               1|              1|              0|        1|       -2|           0|
|210057706656|  2022|              4|      M|              1|          3|               1|              1|              1|        1|       -2|           0|
|210055059648|  2022|              8|      F|              1|          3|               1|              1|              6|        1|       -2|           0|
|210055139127|  2022|              5|      M|              1|          3|               1|              1|              4|        1|       -2|           0|
|210057454355|  2022|              2|      F|              1|          3|               1|              2|              0|        2|        1|           0|
|210057728624|  2022|              7|      M|              1|          2|               1|              1|              3|        1|       -2|           0|
|210056253979|  2022|              2|      F|              1|          1|               1|              2|              0|        2|        1|           0|
|210057043682|  2022|              6|      M|              1|          3|               1|              1|              2|        1|       -2|           0|
|210057510589|  2022|             11|      F|              1|          5|               1|              1|              8|        1|       -2|           0|
|210056235916|  2022|              3|      F|              1|          3|               1|              1|              1|        1|       -2|           0|
|210054534656|  2022|             12|      M|              1|          1|               1|              1|              0|        1|       -2|           0|
|210056338475|  2022|              8|      F|              1|          3|               1|              1|              5|        1|       -2|           0|
|210057182714|  2022|             10|      F|              1|          1|               1|              1|              7|        1|       -2|           0|
|210056212765|  2022|             14|      F|              3|          3|               1|              1|             14|        1|       -2|           0|
|210056917096|  2022|              7|      M|              1|          1|               1|              1|              5|        1|       -2|           0|
|210056185147|  2022|              7|      F|              1|          3|               1|              1|              0|        1|       -2|           0|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+
only showing top 40 rows

3476105

In [9]:
# Configurações do banco de dados
server_name = "NOTEBOOK-LEO\\SQLEXPRESS"
 
# Conecte-se ao banco de dados usando pyodbc
conn = pyodbc.connect(f"Driver={{SQL Server}};Server={server_name};Database={database_name};UID={username};PWD={password}")

# Crie um cursor
cursor = conn.cursor()

# Execute a operação DROP TABLE na tabela 'Participantes'
truncate_query = "DROP TABLE dbo.Participantes"
cursor.execute(truncate_query)

# Commit as alterações no banco de dados
conn.commit()

In [10]:
# Escreva os novos dados em 'Participantes' usando a conexão JDBC
dfPreencher.write \
        .format("jdbc") \
        .option("url", url) \
        .option("driver","com.microsoft.sqlserver.jdbc.SQLServerDriver")\
        .option("ssl", "true")\
        .option("trustServerCertificate", "true")\
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password)\
        .option("SaveMode", "overWrite").save()

In [11]:
print(f'Tabela {nomeTabela} criada com sucesso no banco de dados.')

Tabela Participantes criada com sucesso no banco de dados.