## Importação das Bibiliotecas

In [1]:
from pyspark.sql import SparkSession
import pandas as pd
from sqlalchemy import create_engine
import pyodbc

## Criando uma SparkSession

In [2]:
spark = SparkSession.builder.appName("LerDadosEnem").getOrCreate()

## Processo de Leitura do CSV de Participantes

In [3]:
arqEnem = 'E:\Estudos\SQL\Datasets\microdados_enem_2022\DADOS\MICRODADOS_ENEM_2022.csv'

dfDadosGerais = spark.read.csv(arqEnem, sep=';', header=True, inferSchema=True, encoding='ISO-8859-1')

In [6]:
dfAplicacao = dfDadosGerais.select(dfDadosGerais.columns[19:23])

In [7]:
dfAplicacao.show()

+------------------+--------------------+-----------+-----------+
|CO_MUNICIPIO_PROVA|  NO_MUNICIPIO_PROVA|CO_UF_PROVA|SG_UF_PROVA|
+------------------+--------------------+-----------+-----------+
|           5300108|            Brasília|         53|         DF|
|           5300108|            Brasília|         53|         DF|
|           2925758|Presidente Tancre...|         29|         BA|
|           3201308|           Cariacica|         32|         ES|
|           1506203|         Salinópolis|         15|         PA|
|           3304557|      Rio de Janeiro|         33|         RJ|
|           2611606|              Recife|         26|         PE|
|           3304904|         São Gonçalo|         33|         RJ|
|           2901007|            Amargosa|         29|         BA|
|           2601201|           Arcoverde|         26|         PE|
|           2510808|               Patos|         25|         PB|
|           2804508|Nossa Senhora da ...|         28|         SE|
|           2927408|            Salvador|         29|         BA|
|           3550308|           São Paulo|         35|         SP|
|           5103403|              Cuiabá|         51|         MT|
|           2802106|            Estância|         28|         SE|
|           2910057|        Dias d'Ávila|         29|         BA|
|           3510500|       Caraguatatuba|         35|         SP|
|           3137007|            Ladainha|         31|         MG|
|           3302403|               Macaé|         33|         RJ|
+------------------+--------------------+-----------+-----------+
only showing top 20 rows

In [8]:
dfPreencher = dfAplicacao.fillna(-2)  # Preenche com -2(sem ref), por exemplo

# Salvar em SQL 
Salvar os dados em uma tabela SQL

## Parametrizando a conexão do Banco SQL SERVER Usando JDBC

In [9]:
server_name = "jdbc:sqlserver://NOTEBOOK-LEO:1433"
database_name = "Enem"
table_name = "AplicacaoProvas"
username = "bi_leonardobo"
password = "0000"
url = server_name + ";" + "databaseName=" + database_name + ";"
print(url)

jdbc:sqlserver://NOTEBOOK-LEO:1433;databaseName=Enem;

In [12]:
# Nome da nova tabela que será criada
nomeTabela = table_name

In [15]:
# Configurações do banco de dados em ODBC para dropar
server_name = "NOTEBOOK-LEO\\SQLEXPRESS"
 
# Conecte-se ao banco de dados usando pyodbc
conn = pyodbc.connect(f"Driver={{SQL Server}};Server={server_name};Database={database_name};UID={username};PWD={password}")

# Crie um cursor
cursor = conn.cursor()

# Execute a operação DROP TABLE na tabela 'Participantes'
truncate_query = f"IF OBJECT_ID('{table_name}', 'U') IS NOT NULL DROP TABLE {table_name}"
cursor.execute(truncate_query)

# Commit as alterações no banco de dados
conn.commit()

In [16]:
# Escreva os novos dados em 'Participantes' usando a conexão JDBC
dfPreencher.write \
        .format("jdbc") \
        .option("url", url) \
        .option("driver","com.microsoft.sqlserver.jdbc.SQLServerDriver")\
        .option("ssl", "true")\
        .option("trustServerCertificate", "true")\
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password)\
        .option("SaveMode", "overWrite").save()

In [17]:
print(f'Tabela {nomeTabela} criada com sucesso no banco de dados.')

Tabela AplicacaoProvas criada com sucesso no banco de dados.