## Importação das Bibiliotecas

In [1]:
from pyspark.sql import SparkSession
import pandas as pd
from sqlalchemy import create_engine
import pyodbc

In [2]:
# Crie um SparkSession
spark = SparkSession.builder.appName("LerDadosEnem").getOrCreate()

## Processo de Leitura do CSV de Participantes

In [3]:
#Path dos arquivos

caminho_arquivo_2022 = r'E:\Estudos\SQL\Datasets\ENEM\2022\microdados_enem_2022\DADOS\MICRODADOS_ENEM_2022.csv'
caminho_arquivo_2021 = r'E:\Estudos\SQL\Datasets\ENEM\2021\microdados_enem_2021\DADOS\MICRODADOS_ENEM_2021.csv'
caminho_arquivo_2020 = r'E:\Estudos\SQL\Datasets\ENEM\2021\microdados_enem_2021\DADOS\MICRODADOS_ENEM_2021.csv'
caminho_arquivo_2019 = r'E:\Estudos\SQL\Datasets\ENEM\2021\microdados_enem_2021\DADOS\MICRODADOS_ENEM_2021.csv'

In [4]:
#Função Paa ler os arquivos CSV
def lerCSV(spark, caminho_arquivo):
    df = spark.read.csv(caminho_arquivo, sep=';', header=True, inferSchema=True, encoding='ISO-8859-1')
    colunas_selecionadas = df.columns[:12]
    return df.select(colunas_selecionadas)

In [5]:
##Chama função quer ler o arquivo CSV e Transforma para DF.SPARK

dfDadosParticipantes22 = lerCSV(spark, caminho_arquivo_2022)
dfDadosParticipantes21 = lerCSV(spark, caminho_arquivo_2021)
dfDadosParticipantes20 = lerCSV(spark, caminho_arquivo_2020)
dfDadosParticipantes19 = lerCSV(spark, caminho_arquivo_2019)

In [6]:
#Unir os DF em um só 

dfDadosParticipantes = dfDadosParticipantes22.union(dfDadosParticipantes21).union(dfDadosParticipantes20).union(dfDadosParticipantes19)

In [8]:
dfPreencher = dfDadosParticipantes.fillna(-2)  # Preenche com -2(sem ref), por exemplo

# Salvar em SQL 
Salvar os dados em uma tabela SQL

## Parametrizando a conexão do Banco SQL SERVER

In [9]:
server_name = "jdbc:sqlserver://NOTEBOOK-LEO:1433"
database_name = "Enem"
table_name = "Participantes"
username = "bi_leonardobo"
password = "0000"
url = server_name + ";" + "databaseName=" + database_name + ";"
print(url)

jdbc:sqlserver://NOTEBOOK-LEO:1433;databaseName=Enem;

In [10]:
# Nome da nova tabela que será criada
nomeTabela = 'Participantes'

In [11]:
#Conectando via jdbc
#No método option, foi necessário passar os argumentos ssl e trustservercertificate como true, por se tratar de um banco local sem SSL.
try:
  jdbcDF = spark.read \
        .format("jdbc") \
        .option("url", url) \
        .option("driver","com.microsoft.sqlserver.jdbc.SQLServerDriver")\
        .option("ssl", "true")\
        .option("trustServerCertificate", "true")\
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password).load()
  
  jdbcDF.show(40)
  print(jdbcDF.count())
except ValueError as error :
    print("Connector write failed", error)

+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+
|NU_INSCRICAO|NU_ANO|TP_FAIXA_ETARIA|TP_SEXO|TP_ESTADO_CIVIL|TP_COR_RACA|TP_NACIONALIDADE|TP_ST_CONCLUSAO|TP_ANO_CONCLUIU|TP_ESCOLA|TP_ENSINO|IN_TREINEIRO|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+
|210056184466|  2022|             15|      M|              2|          3|               1|              1|             16|        1|       -2|           0|
|210057595890|  2022|             13|      F|              1|          3|               1|              1|              0|        1|       -2|           0|
|210056438520|  2022|              2|      M|              0|          1|               1|              2|              0|        2|        1|           0|
|210054953601|  2022|             14|      F|              1|          0|               1|              1|             16|        1|       -2|           0|
|210056939504|  2022|              2|      F|              1|          4|               1|              3|              0|        1|       -2|           1|
|210056042202|  2022|              5|      F|              1|          1|               1|              1|              3|        1|       -2|           0|
|210055938726|  2022|             11|      F|              1|          3|               1|              1|              9|        1|       -2|           0|
|210056336753|  2022|             13|      F|              1|          3|               1|              1|             16|        1|       -2|           0|
|210057730128|  2022|              1|      F|              0|          3|               1|              3|              0|        1|       -2|           1|
|210056788460|  2022|              5|      F|              1|          1|               1|              1|              3|        1|       -2|           0|
|210057299186|  2022|              3|      M|              1|          3|               1|              2|              0|        2|        1|           0|
|210056454744|  2022|              2|      F|              1|          3|               1|              2|              0|        2|        1|           0|
|210054743946|  2022|             12|      F|              1|          3|               1|              1|             13|        1|       -2|           0|
|210055685057|  2022|              3|      M|              1|          3|               1|              2|              0|        2|        1|           0|
|210056452639|  2022|              3|      F|              1|          3|               1|              2|              0|        2|        1|           0|
|210056890191|  2022|              3|      F|              1|          1|               1|              2|              0|        2|        2|           0|
|210056301386|  2022|              6|      F|              1|          3|               1|              1|              3|        1|       -2|           0|
|210055259879|  2022|              4|      F|              1|          3|               1|              1|              0|        1|       -2|           0|
|210056935615|  2022|              4|      M|              1|          1|               1|              1|              2|        1|       -2|           0|
|210054593796|  2022|             11|      M|              1|          1|               1|              1|             10|        1|       -2|           0|
|210055470533|  2022|              4|      F|              1|          3|               1|              2|              0|        2|        1|           0|
|210057507731|  2022|             14|      M|              2|          1|               1|              1|             16|        1|       -2|           0|
|210057268612|  2022|              2|      F|              1|          3|               1|              2|              0|        2|        1|           0|
|210057739729|  2022|              4|      F|              1|          3|               1|              1|              2|        1|       -2|           0|
|210055489958|  2022|              3|      F|              1|          3|               1|              2|              0|        2|        1|           0|
|210055396762|  2022|              2|      F|              1|          1|               1|              2|              0|        2|        1|           0|
|210056287157|  2022|              5|      F|              1|          2|               1|              1|              2|        1|       -2|           0|
|210054773610|  2022|             14|      F|              2|          3|               1|              1|              0|        1|       -2|           0|
|210056279013|  2022|              7|      F|              1|          1|               1|              1|              3|        1|       -2|           0|
|210056337638|  2022|              2|      F|              1|          1|               1|              2|              0|        2|        1|           0|
|210057800633|  2022|             11|      F|              1|          3|               1|              1|              9|        1|       -2|           0|
|210055255566|  2022|              5|      M|              1|          1|               1|              1|              2|        1|       -2|           0|
|210057078136|  2022|              4|      F|              1|          1|               1|              2|              0|        2|        1|           0|
|210057002111|  2022|              9|      M|              1|          1|               1|              1|              7|        1|       -2|           0|
|210054868543|  2022|             11|      M|              2|          3|               1|              1|              8|        1|       -2|           0|
|210055939697|  2022|             11|      F|              1|          1|               1|              1|              0|        1|       -2|           0|
|210057989251|  2022|              3|      M|              1|          1|               1|              1|              1|        1|       -2|           0|
|210057006351|  2022|              3|      M|              1|          3|               1|              2|              0|        2|        1|           0|
|210056199029|  2022|              6|      M|              1|          2|               1|              1|              2|        1|       -2|           0|
|210057628347|  2022|              3|      F|              1|          2|               1|              2|              0|        2|        1|           0|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+
only showing top 40 rows

3476105

In [12]:
# Configurações do banco de dados
server_name = "NOTEBOOK-LEO\\SQLEXPRESS"
 
# Conecte-se ao banco de dados usando pyodbc
conn = pyodbc.connect(f"Driver={{SQL Server}};Server={server_name};Database={database_name};UID={username};PWD={password}")

# Crie um cursor
cursor = conn.cursor()

# Execute a operação DROP TABLE na tabela 'Participantes'
truncate_query = "DROP TABLE dbo.Participantes"
cursor.execute(truncate_query)

# Commit as alterações no banco de dados
conn.commit()

In [13]:
# Escreva os novos dados em 'Participantes' usando a conexão JDBC
dfPreencher.write \
        .format("jdbc") \
        .option("url", url) \
        .option("driver","com.microsoft.sqlserver.jdbc.SQLServerDriver")\
        .option("ssl", "true")\
        .option("trustServerCertificate", "true")\
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password)\
        .option("SaveMode", "overWrite").save()

In [14]:
print(f'Tabela {nomeTabela} criada com sucesso no banco de dados.')

Tabela Participantes criada com sucesso no banco de dados.