## Importação das Bibiliotecas

In [1]:
import pandas as pd
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [12]:
spark = SparkSession.builder \
    .appName("YourAppName") \
    .config("spark.driver.extraClassPath", "/path/to/sqlserver-jdbc-driver.jar") \
    .getOrCreate()

## Processo de Leitura do CSV de Provas

In [3]:
arqEnem = 'E:\Estudos\SQL\Datasets\microdados_enem_2022\DADOS\MICRODADOS_ENEM_2022.csv'

dfDadosGerais = spark.read.csv(arqEnem, sep=';', header=True, inferSchema=True, encoding='ISO-8859-1')

In [4]:
dfParticipantes = dfDadosGerais.select(dfDadosGerais.columns[:12])

In [29]:
dfParticipantes.show()

+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+
|NU_INSCRICAO|NU_ANO|TP_FAIXA_ETARIA|TP_SEXO|TP_ESTADO_CIVIL|TP_COR_RACA|TP_NACIONALIDADE|TP_ST_CONCLUSAO|TP_ANO_CONCLUIU|TP_ESCOLA|TP_ENSINO|IN_TREINEIRO|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+
|210057943671|  2022|             14|      M|              2|          2|               1|              1|              2|        1|     null|           0|
|210057516120|  2022|             14|      M|              2|          1|               1|              1|             16|        1|     null|           0|
|210057280536|  2022|              5|      F|              1|          2|               1|              1|              2|        1|     null|           0|
|210055724397|  2022|              6|      M|              1|          3|               1|              1|              2|        1|     null|           0|
|210055097896|  2022|              4|      M|              0|          3|               1|              1|              1|        1|     null|           0|
|210057850231|  2022|              5|      F|              1|          3|               1|              1|              2|        1|     null|           0|
|210056305481|  2022|              4|      M|              1|          2|               1|              1|              2|        1|     null|           0|
|210055778089|  2022|              6|      F|              1|          2|               1|              1|              0|        1|     null|           0|
|210057252239|  2022|              8|      F|              1|          3|               1|              1|              0|        1|     null|           0|
|210055461467|  2022|              4|      F|              1|          3|               1|              1|              1|        1|     null|           0|
|210055665589|  2022|              4|      F|              1|          3|               1|              1|              2|        1|     null|           0|
|210054972570|  2022|              2|      F|              1|          1|               1|              2|              0|        3|        1|           0|
|210055449344|  2022|              4|      M|              1|          2|               1|              1|              1|        1|     null|           0|
|210057944037|  2022|              6|      F|              1|          3|               1|              1|              0|        1|     null|           0|
|210054861834|  2022|              7|      M|              1|          2|               2|              1|              3|        1|     null|           0|
|210055201589|  2022|              8|      F|              1|          3|               1|              2|              0|        2|        1|           0|
|210056844882|  2022|              5|      F|              1|          2|               1|              1|              0|        1|     null|           0|
|210056065100|  2022|              2|      F|              1|          3|               1|              3|              0|        1|     null|           1|
|210057551883|  2022|              8|      F|              1|          2|               1|              1|              5|        1|     null|           0|
|210054722657|  2022|              2|      F|              1|          1|               1|              3|              0|        1|     null|           1|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+
only showing top 20 rows

In [5]:
dfPreencher = dfParticipantes.fillna(-2)  # Preenche com -2(sem ref), por exemplo

# Salvar em SQL 
Salvar os dados em uma tabela SQL

## Parametrizando a conexão do Banco SQL SERVER

In [13]:
server = 'NOTEBOOK-LEO\\SQLEXPRESS'
database = 'Enem'
username = 'bi_leonardobo'
password = '0000'
driver = 'ODBC Driver 17 for SQL Server'  # Nome do driver ODBC para o SQL Server

In [14]:
# Nome da nova tabela que será criada
nomeTabela = 'Participantes'

In [15]:
url = "jdbc:sqlserver://NOTEBOOK-LEO:1433;database=Enem"

In [16]:
propriedades = {
    "user": "bi_leonardobo",
    "password": "0000",
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

In [17]:
# Salvar o DataFrame como uma nova tabela no banco de dados SQL Server
dfPreencher.write.jdbc(url=url, table=nomeTabela, mode="overwrite", properties=propriedades)

Py4JJavaError: An error occurred while calling o62.jdbc.
: java.lang.ClassNotFoundException: com.microsoft.sqlserver.jdbc.SQLServerDriver
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:476)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:589)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:522)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:103)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:246)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:250)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:47)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:104)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:488)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:133)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:856)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:387)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:360)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:753)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

In [18]:
# Crie uma nova tabela no banco de dados com base nos dados do DataFrame
dfPreencher.to_sql(nomeTabela, con=engine, if_exists='replace', index=False)

AttributeError: 'DataFrame' object has no attribute 'to_sql'

In [23]:
print(f'Tabela {nomeTabela} criada com sucesso no banco de dados.')

Tabela Participantes criada com sucesso no banco de dados.

In [67]:
#Select para verificar os dados importados
query = "SELECT TOP 100 * FROM Provas"
df = pd.read_sql(query, engine1)