## Importação das Bibiliotecas

In [3]:
from pyspark.sql import SparkSession
import pandas as pd
from sqlalchemy import create_engine
import pyodbc

## Criando uma SparkSession

In [4]:
spark = SparkSession.builder.appName("ReadExcel").getOrCreate()

## Processo de Leitura do Excel com Dime referente ao Dados dos Participantes

In [5]:
#Ler o arquivo em Excel em Pandas, devido o spark não ter uma função nativda
arqEnem = 'E:\Estudos\SQL\Dime\DIME_ENEM_PARTICIPANTES.xlsx'

# Ler a aba DIME_SEXO no arquivo Excel
dfDadosGeraisSexoPD = pd.read_excel(arqEnem, sheet_name='DIME_SEXO')

# Ler a aba DIME_FAIXA_ETARIA no arquivo Excel
dfDadosGeraisFaixaEtariaPD = pd.read_excel(arqEnem, sheet_name='DIME_FAIXA_ETARIA')

# Ler a aba DIME_RACA no arquivo Excel
dfDadosGeraisRacaPD = pd.read_excel(arqEnem, sheet_name='DIME_RACA')

# Ler a aba DIME_NACIONALIDADE no arquivo Excel
dfDadosGeraisNacionalidadePD = pd.read_excel(arqEnem, sheet_name='DIME_NACIONALIDADE')

# Ler a aba DIME_SITUACAO_CONCLUSAO no arquivo Excel
dfDadosGeraisSituacaoConclusaoPD = pd.read_excel(arqEnem, sheet_name='DIME_SITUACAO_CONCLUSAO')

# Ler a aba DIME_ANO_CONCLUSAO no arquivo Excel
dfDadosGeraisAnoConclusaoPD = pd.read_excel(arqEnem, sheet_name='DIME_ANO_CONCLUSAO')

# Ler a aba DIME_ESCOLA no arquivo Excel
dfDadosGeraisEscolaPD = pd.read_excel(arqEnem, sheet_name='DIME_ESCOLA')

# Ler a aba DIME_ENSINO no arquivo Excel
dfDadosGeraisEnsinoPD = pd.read_excel(arqEnem, sheet_name='DIME_ENSINO')

# Ler a aba DIME_TREINEIRO no arquivo Excel
dfDadosGeraisTreineiroPD = pd.read_excel(arqEnem, sheet_name='DIME_TREINEIRO')

# Ler a aba DIME_ESTADO_CIVIL no arquivo Excel
dfDadosGeraisEstadoCivilPD = pd.read_excel(arqEnem, sheet_name='DIME_ESTADO_CIVIL')

In [6]:
#Foi necessário configurar este Path para realizar a conversão
import os

print(os.environ.get('PYSPARK_PYTHON'))

E:\anaconda3\python.exe

In [7]:
# Se você já tem um DataFrame do Pandas, pode converter diretamente para um DataFrame do Spark usando o método createDataFrame do SparkSession
dfDadosGeraisSexoSP              = spark.createDataFrame(dfDadosGeraisSexoPD)
dfDadosGeraisFaixaEtariaSP       = spark.createDataFrame(dfDadosGeraisFaixaEtariaPD)
dfDadosGeraisRacaSP              = spark.createDataFrame(dfDadosGeraisRacaPD)
dfDadosGeraisNacionalidadeSP     = spark.createDataFrame(dfDadosGeraisNacionalidadePD)
dfDadosGeraisSituacaoConclusaoSP = spark.createDataFrame(dfDadosGeraisSituacaoConclusaoPD)
dfDadosGeraisAnoConclusaoSP      = spark.createDataFrame(dfDadosGeraisAnoConclusaoPD)
dfDadosGeraisEscolaSP            = spark.createDataFrame(dfDadosGeraisEscolaPD)
dfDadosGeraisEnsinoSP            = spark.createDataFrame(dfDadosGeraisEnsinoPD)
dfDadosGeraisTreineiroSP         = spark.createDataFrame(dfDadosGeraisTreineiroPD)
dfDadosGeraisEstadoCivilSP       = spark.createDataFrame(dfDadosGeraisEstadoCivilPD)

In [8]:
dfDadosGeraisSexoSP              = dfDadosGeraisSexoSP.fillna(-2)               # Preenche com -2(sem ref), por exemplo
dfDadosGeraisFaixaEtariaSP       = dfDadosGeraisFaixaEtariaSP.fillna(-2)        # Preenche com -2(sem ref), por exemplo
dfDadosGeraisRacaSP              = dfDadosGeraisRacaSP.fillna(-2)               # Preenche com -2(sem ref), por exemplo
dfDadosGeraisNacionalidadeSP     = dfDadosGeraisNacionalidadeSP.fillna(-2)      # Preenche com -2(sem ref), por exemplo
dfDadosGeraisSituacaoConclusaoSP = dfDadosGeraisSituacaoConclusaoSP.fillna(-2)  # Preenche com -2(sem ref), por exemplo
dfDadosGeraisAnoConclusaoSP      = dfDadosGeraisAnoConclusaoSP.fillna(-2)       # Preenche com -2(sem ref), por exemplo
dfDadosGeraisEscolaSP            = dfDadosGeraisEscolaSP.fillna(-2)             # Preenche com -2(sem ref), por exemplo
dfDadosGeraisEnsinoSP            = dfDadosGeraisEnsinoSP.fillna(-2)             # Preenche com -2(sem ref), por exemplo
dfDadosGeraisTreineiroSP         = dfDadosGeraisTreineiroSP.fillna(-2)          # Preenche com -2(sem ref), por exemplo
dfDadosGeraisEstadoCivilSP       = dfDadosGeraisEstadoCivilSP.fillna(-2)        # Preenche com -2(sem ref), por exemplo

In [9]:
df = [dfDadosGeraisSexoSP,             
dfDadosGeraisFaixaEtariaSP,      
dfDadosGeraisRacaSP,             
dfDadosGeraisNacionalidadeSP,    
dfDadosGeraisSituacaoConclusaoSP,
dfDadosGeraisAnoConclusaoSP,     
dfDadosGeraisEscolaSP,           
dfDadosGeraisEnsinoSP,           
dfDadosGeraisTreineiroSP,
dfDadosGeraisEstadoCivilSP]

# Salvar em SQL 
Salvar os dados em uma tabela SQL

## Parametrizando a conexão do Banco SQL SERVER Usando JDBC

In [10]:
server_name = "jdbc:sqlserver://NOTEBOOK-LEO:1433"
database_name = "Enem"
username = "bi_leonardobo"
password = "0000"
url = server_name + ";" + "databaseName=" + database_name + ";"
print(url)

jdbc:sqlserver://NOTEBOOK-LEO:1433;databaseName=Enem;

In [11]:
# Nome das tabelas que serão criadas

Tabelas = [
    "DimeSexo",
    "DimeFaixaEtaria",
    "DimeRaca",
    "DimeNacionalidade",
    "DimeSituacaoConclusao",
    "DimeAnoConclusao",
    "DimeEscola",
    "DimeEnsino",
    "DimeTreineiro",
    "DimeEstadoCivil"
]

In [12]:
# Configurações do banco de dados em ODBC para dropar
server_name = "NOTEBOOK-LEO\\SQLEXPRESS"
 
# Conecte-se ao banco de dados usando pyodbc
conn = pyodbc.connect(f"Driver={{SQL Server}};Server={server_name};Database={database_name};UID={username};PWD={password}")
i = 0
while i < len(Tabelas):
# Crie um cursor
    cursor = conn.cursor()
    Tabela_atual = Tabelas[i]
# Execute a operação DROP TABLE na tabela 'Participantes'
    truncate_query = f"IF OBJECT_ID('{Tabela_atual}', 'U') IS NOT NULL DROP TABLE {Tabela_atual}"
    cursor.execute(truncate_query)
    #print(truncate_query)
# Commit as alterações no banco de dados
    conn.commit()
    i += 1

In [13]:
# Escreva os novos dados nas Dimes usando a conexão JDBC

i = 0
while i < len(Tabelas):
    Tabela_Atual = Tabelas[i]
    df_atual     = df[i]    
    df_atual.write \
                .format("jdbc") \
                .option("url", url) \
                .option("driver","com.microsoft.sqlserver.jdbc.SQLServerDriver")\
                .option("ssl", "true")\
                .option("trustServerCertificate", "true")\
                .option("dbtable", Tabela_Atual) \
                .option("user", username) \
                .option("password", password)\
                .option("SaveMode", "overWrite").save()
    i += 1