## Importação das Bibiliotecas

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymssql
import pyodbc

## Processo de Leitura do CSV de Provas

In [2]:
arqEnem = 'E:\Estudos\SQL\Datasets\microdados_enem_2022\DADOS\MICRODADOS_ENEM_2022.csv'

dfDadosGerais = pd.read_csv(arqEnem,delimiter=';', encoding='ISO-8859-1')

In [3]:
dfEscolas = dfDadosGerais.iloc[:,12:19]

In [4]:
print(dfEscolas)

         CO_MUNICIPIO_ESC NO_MUNICIPIO_ESC  CO_UF_ESC SG_UF_ESC  \
0                     NaN              NaN        NaN       NaN
1                     NaN              NaN        NaN       NaN
2                     NaN              NaN        NaN       NaN
3                     NaN              NaN        NaN       NaN
4                     NaN              NaN        NaN       NaN
...                   ...              ...        ...       ...
3476100               NaN              NaN        NaN       NaN
3476101         2604106.0          Caruaru       26.0        PE
3476102         4209300.0            Lages       42.0        SC
3476103         3517406.0           Guaíra       35.0        SP
3476104         5208707.0          Goiânia       52.0        GO

         TP_DEPENDENCIA_ADM_ESC  TP_LOCALIZACAO_ESC  TP_SIT_FUNC_ESC
0                           NaN                 NaN              NaN
1                           NaN                 NaN              NaN
2                           NaN                 NaN              NaN
3                           NaN                 NaN              NaN
4                           NaN                 NaN              NaN
...                         ...                 ...              ...
3476100                     NaN                 NaN              NaN
3476101                     2.0                 1.0              1.0
3476102                     2.0                 1.0              1.0
3476103                     4.0                 1.0              1.0
3476104                     2.0                 1.0              1.0

[3476105 rows x 7 columns]

In [6]:
dfPreencher = dfEscolas.fillna(-2)  # Preenche com -2(sem ref), por exemplo

# Salvar em SQL 
Salvar os dados em uma tabela SQL

## Parametrizando a conexão do Banco SQL SERVER

In [7]:
server = 'NOTEBOOK-LEO\\SQLEXPRESS'
database = 'Enem'
username = 'bi_leonardobo'
password = '0000'
driver = 'ODBC Driver 17 for SQL Server'  # Nome do driver ODBC para o SQL Server

In [8]:
# Conexão de String utilizando a biblioteca pyodbc
connection_string = f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}'

# Conexão de String utilizando a biblioteca pymssql
#connection_string = f'mssql+pymssql://{username}:{password}@{server}/{database}'

# Teste de conexão do pymssql
#conn = pymssql.connect(server, username, password, database)

In [9]:
engine = create_engine(connection_string)

In [10]:
# Nome da nova tabela que será criada
nomeTabela = 'Escola'

In [11]:
# Crie uma nova tabela no banco de dados com base nos dados do DataFrame
dfPreencher.to_sql(nomeTabela, con=engine, if_exists='replace', index=False)

-1

In [51]:
print(f'Tabela {nomeTabela} criada com sucesso no banco de dados.')

Tabela Participantes criada com sucesso no banco de dados.

In [36]:
#Select para verificar os dados importados
query = "SELECT TOP 100 * FROM Escola"
df = pd.read_sql(query, engine)

In [37]:
print(df)

   NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
0  210057943671    2022               14       M                2

   TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  TP_ESCOLA  \
0            2                 1                1                2          1

   TP_ENSINO  IN_TREINEIRO  CO_MUNICIPIO_ESC  NO_MUNICIPIO_ESC  CO_UF_ESC  \
0       -2.0             0              -2.0                -2       -2.0

   SG_UF_ESC  TP_DEPENDENCIA_ADM_ESC  TP_LOCALIZACAO_ESC  TP_SIT_FUNC_ESC
0         -2                    -2.0                -2.0             -2.0